* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --bg: #f5f7fb;
    --color: #4f46e5;
    --text: #1f2937;
    --border: #e5e7eb;
    --accent-color: yellow;
    --card-bg: #ffffff;
}

h1 {
    margin-bottom: 15px;
}