* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --bg: #f5f7fb;
    --color: #4f46e5;
    --text: #1f2937;
    --border: #e5e7eb;
    --accent-color: rgb(32, 192, 17);
    --card-bg: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background: var(--bg);
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h1 {
    margin-bottom: 15px;
}